.week-container{
    background-color: rgba(0, 0, 0, 0.64);
    padding-bottom: 10px;
    overflow: auto;
}
.week-col {
    width: 14.28%;
    border: thick beige;
    float: left;
    padding-left: 2px;
}

.week-col .header {
    width: 100%;
    background-color: #ec008c;
    margin-bottom: 5px;
    padding-right: 2px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.week-col .event {
    width: 100%;
    background-color: #080808;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}