.Navbar-Custom {
    /*font-family: cursive;*/
}

.navbar-inverse {
    background-color: #000000;
    border-color: #080808;
}

.navbar-brand img {
    height: 100%;
    margin-right: 10px;
    display: inline;
}

.navbar-brand {
    padding: 4px 15px;
    font-size: 24px;
}

.nav > li > a {
    padding: 10px 10px;
}
.nav > li > a {
    padding: 15px 10px;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 370px;
}

.show-events {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #ec008c;
    color: white;
    padding: 5px 25px 5px 25px;
    font-size: 30px;
    border-radius: 30px;
    opacity: .5;
    /*font-family: cursive;*/
    text-align: center;
}

.show-events:hover {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 766px) {
    .Navbar-Custom {
        text-align: center;
        font-size: 150%;
    }

    /*.show-events {*/
        /*border-radius: 0;*/
        /*opacity: 1;*/
        /*width: 100%;*/
        /*left: 0;*/
        /*bottom: 0;*/
    /*}*/
}